nav{
    background: rgba(0,0,0,0.2);
    width: max-content;
    display: block;
    padding: 0.5rem 1.5rem;
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    /* filter:blur(1px); */
    backdrop-filter: blur(5px);
    transform: translateX(-50%);
}
nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1rem;
}
nav a:hover{  
    background: var(--color-light);
    color: var(--color-black);
    
}
nav a.active{
    background: var(--color-light);
    columns: var(--color-white);
}
.nav-icons{
    color: var(--color-white);
    margin: 5px;
    font-size: 1.5rem;
}